.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main {
    flex: 1;
} 

section {
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    // width: 100%;
}

section.title {
    background-color: #efefef;
    padding: 38px;
    h1 {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
        margin-bottom: 18px;
    }
    p {
        margin: 0;
        padding: 0 120px;
        text-align: center;
    }
}

.grid {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
}

.card {
    // img {
    //     float: left;
    // }
    // p {
    //     float: right;
    // };
}