<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main">
    <section class="banner">
      <img src="../assets/logoNCC1.png" alt="logo">
    </section>
    <section class="title">
      <h1>Lorem ipsum dolor sit amet?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique consequat placerat. Vestibulum auctor
        pellentesque sem, eu posuere erat hendrerit quis. Maecenas vel consequat turpis. Nam facilisis, ligula in mattis
        sodales, augue justo tristique nulla, sed lacinia ante eros ut mi. Morbi vitae diam augue. Aliquam vel mauris a
        nibh auctor commodo. Praesent et nisi eu justo eleifend convallis. Quisque suscipit maximus vestibulum.
        Phasellus congue mollis orci, sit amet luctus augue tristique eu. Donec vulputate odio neque, sed semper turpis
        pellentesque a.</p>
    </section>
    <section class="grid">
      <div class="card">
        <h3>Lorem ipsum dolor sit amet?</h3>
        <img src="./assets/css-icon1.png" alt="image">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ea doloremque deleniti
          labore recusandae
          est cum? Necessitatibus voluptas consectetur deserunt. Sed ipsum fugiat at rerum iure nihil ipsa amet
          reiciendis!</div>
      </div>
      <div class="card">
        <h3>Lorem ipsum dolor sit amet?</h3>
        <img src="./assets/html-icon1.png" alt="image">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ea doloremque deleniti
          labore recusandae
          est cum? Necessitatibus voluptas consectetur deserunt. Sed ipsum fugiat at rerum iure nihil ipsa amet
          reiciendis!</div>
      </div>
      <div class="card">
        <h3>Lorem ipsum dolor sit amet?</h3>
        <img src="./assets/url-icon1.png" alt="image">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ea doloremque deleniti
          labore recusandae
          est cum? Necessitatibus voluptas consectetur deserunt. Sed ipsum fugiat at rerum iure nihil ipsa amet
          reiciendis!</div>
      </div>
    </section>
  </div>
  <div class="footer">
    <section>
      <app-footer></app-footer>
    </section>
  </div>
</div>